@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.intro{
    margin-left: 1.8rem;
}

img {
    max-width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cat{
    max-width: 15%;
}

body {
    align-items: center;
}

.shadowed{
    box-shadow: 2px 2px 25px #eee;
}

h1,h2,h3,h4,h5,h6, .navbar-brand{
    font-family: 'Inconsolata', monospace;
}
