.intro{
    margin-left: 1.8rem;
}

img {
    max-width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cat{
    max-width: 15%;
}

body {
    align-items: center;
}

.shadowed{
    box-shadow: 2px 2px 25px #eee;
}
